body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    padding: 10px 200px;
    
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.top-row {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex: 1;
    padding: 0 200px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

img {
    width: 100%;
    max-width: 400px;
    padding-left: 20px 0 20px 20px;
}

.title {
    font-size: 48px;
    margin: 10px 0;
    font-weight: 900;
}

.second-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.title-two {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 30px;
}

.title-two-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.small-fantasy {
    object-fit: cover;
    width:180px;
    height:180px;
    border-radius: 16px;
    border: 2px solid #3882F6;
}

.third-row {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 300px;
}

.fourth-row {
    padding: 50px;
    margin: 50px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 0 100px;
    margin: 50px 200px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    text-align: left;
}

.fourth-title {
    font-size: 18px;
    font-weight: 800;
}
.quote-author{
    text-align: right;
    font-size: 16px;
    font-weight: 800;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    flex: 1 0 0;
}

button {
    background-color: #3882F6;
    cursor: pointer;
    border: 1px solid white;
    background: #3882F6;
    color: white;
    padding: 6px 24px;
    border-radius: 8px;
    margin: 10px 0;
}
